.li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 272px;
  position: relative;
}

.link{
  text-decoration: none;
  color: inherit;
}

.name {
  font-size: 16px;
  line-height: 24px;
  min-height: 48px;
}

.dragging {
  filter: grayscale(100);
}

