.container{
  max-width: 600px;
  max-height: 45vh;
  overflow-x: hidden;
  max-width: 100%;
}

.element {
  width: 100%;
  display: grid;
  gap: 13.5px;
  grid-template-columns: min-content 1fr;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.element_top {
  grid-template-columns: 1fr;
  justify-content: flex-end;
  display: flex;
  margin-bottom: 10px;
}

.element_buttom {
  grid-template-columns: 1fr;
  justify-content: flex-end;
  display: flex;
  margin-top: 10px;
}

.price {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
